<h1>Confirmation email for <%= @user.name %></h1>
<p>
  Here is the token you need to enter in the confirmation email page <%= @user.confirmation_token %>.<br>
</p>
<p>Just one more step to be part of Pacific Stores!</p>